<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>SheetJS Test</title>
</head>

<body>
	<input type="file" id="files" name="files" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.12.4/xlsx.full.min.js"></script>
	<script type="text/javascript">
		var d = {
			ta: '',
			tr: '',
			vel: '',
			rh: '',
			met: '',
			clo: '',
			trm: '',
			vel_a: ''
		};
		var rABS = true; // true: readAsBinaryString ; false: readAsArrayBuffer
		function handleFile(e) {
			var files = e.target.files,
				f = files[0];
			var reader = new FileReader();
			reader.onload = function(e) {
				var data = e.target.result;
				if (!rABS) data = new Uint8Array(data);
				var workbook = XLSX.read(data, {
					type: rABS ? 'binary' : 'array'
				});
				let worksheet = workbook.Sheets["Sheet1"];
				console.log(worksheet);
				var XL_row_object = XLSX.utils.sheet_to_row_object_array(worksheet);
				console.log(XL_row_object);
				XL_row_object.forEach(function(element) {
					console.log('element value is ', element);
					d = element;
					console.log('d value is ', d);
				});
			};
			if (rABS) reader.readAsBinaryString(f);
			else reader.readAsArrayBuffer(f);
		}

		document.getElementById('files').addEventListener('change', handleFile, false);
	</script>
</body>

</html>
